<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CallCampaignsEntities" connectionString="metadata=res://*/CallCampaignsModel.csdl|res://*/CallCampaignsModel.ssdl|res://*/CallCampaignsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLOPSDEV\SQLOPSY;initial catalog=CallCampaigns;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ComplianceEntities" connectionString="metadata=res://*/ComplianceModel.csdl|res://*/ComplianceModel.ssdl|res://*/ComplianceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P10DWW93DSDE01 ;initial catalog=Compliance;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallCampaigns" connectionString="Server=SQLOPSDEV\SQLOPSY;Database=CallCampaigns;Trusted_Connection=True;connect timeout=1500;" />
    <add name="Compliance" connectionString="Server=P10DWW93DSDE01 ;Database=Compliance;Trusted_Connection=True;connect timeout=1500;" />
    <add name="ETLCore" connectionString="Server=SQLETLDEV\SQLETLY;Database=ETLCore;Initial Catalog=ETLCore;Trusted_Connection=True;connect timeout=1500;" />

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="brian.williams@adherehealth.com">
        <network defaultCredentials="false" host="east.smtp.mx.exch082.serverdata.net" enableSsl="true" userName="brian.williams@adherehealth.com" password="Vision111" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="EmailOutputBufferFilePath" value="C:\Add-Ons\Applications\AdHocCampaignRunner\EmailOutputBuffer.txt" />
    <add key="RunInDebugMode" value="true" />
    <add key="RecipientToOld" value="Drew.Sears@adherehealth.com,Matt.Chavez@adherehealth.com" />
    <add key="RecipientCCOld" value="Danielle.Case@adherehealth.com,John.Sanfilippo@adherehealth.com,Cynthia.Sandahl@adherehealth.com,stacey.parker@adherehealth.com,Kempton.Presley@adherehealth.com,brian.williams@adherehealth.com,ryan.dacus@adherehealth.com,Steven.Collins@adherehealth.com,Lopamudra.Manadhata@adherehealth.com" />
    <add key="RecipientTo" value="Brian.Williams@adherehealth.com"/>
    <add key="RecipientCC" value="Brian.Williams@adherehealth.com"/>
    <add key="PackageName" value="MTM Adhoc Campaign Runner"/>
  </appSettings>
</configuration>