<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PharmMDConfigurationConnectionString"  connectionString="server=SQLDW;database=Compliance;uid=masterConfigApp;password=configApp;" providerName="System.Data.SqlClient"/>
		</connectionStrings>

	</configuration>